<!doctype html>
{% load static %}
<html class="no-js" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Research Conclave 2020</title>
    <meta name="description" content="Responsive EventHunt HTML Template"/>
    <meta name="keywords" content="Bootstrap3, Event,  Conference, Meetup, Template, Responsive, HTML5"/>
    <meta name="author" content="themearth.com"/>

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@yourtwitterusername"/>
    <meta name="twitter:creator" content="@yourtwitterusername"/>
    <meta name="twitter:url" content="http://yourdomain.com"/>
    <meta name="twitter:title" content="Your home page title, max 140 char"/>
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Your site description, maximum 140 char "/>
    <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg"/>
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Your home page title"/>
    <meta property="og:url" content="http://your domain here.com"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:site_name" content="Your site name here"/>
    <!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg"/>
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'pre_edition/rc20/' %} assets/img/RC.png"/>
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'pre_edition/rc20/' %}assets/img/RC.png"/>
    <!-- this icon shows in browser toolbar -->
    <!--link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json"-->

    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/bootstrap/css/bootstrap.min.css" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/fontawesome/css/font-awesome.min.css" media="all"/>

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/maginificpopup/magnific-popup.css" media="all"/>

    <!-- Time Circle -->
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/timer/TimeCircles.css" media="all"/>

    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/owlcarousel/owl.carousel.min.css" media="all" />
    <link rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/libs/owlcarousel/owl.theme.default.min.css" media="all" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Oswald:400,700%7cRaleway:300,400,400i,500,600,700,900"/>

    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="{% static 'pre_edition/rc20/' %}assets/css/style-default.min.css" media="all"/>

    <!-- MODERNIZER CSS  -->
    <script src="{% static 'pre_edition/rc20/' %}assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="home">

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="lgx-container ">
<!-- ***  ADD YOUR SITE CONTENT HERE *** -->


<!--HEADER-->
<header>
    <div id="lgx-header" class="lgx-header">
        <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed "> <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
            <div class="lgx-container-fluid"> <!--lgx-container-fluid-->
                <nav class="navbar navbar-default lgx-navbar">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="lgx-logo">
                            <a href="index.html" class="lgx-scroll">
                                <img src="{% static 'pre_edition/rc20/assets/img/RC.png' %}" alt="Eventhunt Logo"/>
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">

                        <ul class="nav navbar-nav lgx-nav navbar-right">

                            <li>
                                <a href="index.html#about"><font color="white" size="5.2rem"><b>RC 2020</b></font></span></a>
                            <li>
                            <li><a class="lgx-scroll" href="index.html#outline"><font color="white"><b>Programme Outline
                            </b></font></a></li>
                            <li><a class="lgx-scroll" href="index.html#events"><font color="white"><b>Events</font></b>
                            </a></li>
                            <li><a class="lgx-scroll" href="speakers.html"><font color="white"><b>Speakers
                            </b></font></a></li>
                            <!--li><a class="lgx-scroll" href="schedule.html"target="blank">Important Dates</a></li-->
                            <li><a class="lgx-scroll" href="index.html#schedule"><font color="white"><b>Important Dates
                            </b></font></a></li>
                            <li><a class="lgx-scroll" href="index.html#registration"><font color="white"><b>Registration
                            </b></font></a></li>
                            <li><a class="lgx-scroll" href="sponsor.html"><font color="white"><b>Sponsors
                            </b></font></a></li>
                            <!--li><a class="lgx-scroll" href="team.html"target="_blank">Team</a></li-->
                            <li><a class="lgx-scroll" href="accommodation.html"><font color="white"><b>Accommodation
                            </font></b></a></li>
                            <li><a class="lgx-scroll" href="team19.html"><font color="white"><b>Team</font></b></a></li>
                            <li><a class="lgx-scroll" href="https://event.iitg.ac.in/rc2020/login/"><font color="white"><b>LOGIN</font></b></a></li>
                            <li><a class="lgx-scroll" href="faq.html"><font color="white"><b>FAQs</font></b></a></li>
                            <li><a class="lgx-scroll" href="index.html#contact"><font color="white"><b>Contact</font>
                            </b></a></li>

                        </ul>
                    </div><!--/.nav-collapse -->
                </nav>
            </div>
            <!-- //.CONTAINER -->
        </div>
    </div>
</header>
<!--HEADER END-->


<!--BANNER-->
<section>
    <div class="lgx-banner lgx-banner-music">
        <div class="lgx-banner-style">
            <div class="lgx-inner lgx-inner-fixed">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-banner-info lgx-banner-info-center"> <!--lgx-banner-info-center lgx-banner-info-black lgx-banner-info-big lgx-banner-info-bg-->
                                <div class="circular-countdown-area">
                                    <!-- Date Format :"Y/m/d" || For Example: 1017/10/5  -->
                                    <div id="circular-countdown" data-date="2020-03-19 00:00:00" ></div>
                                </div>
                                <h3 class="subheading"><font color="#0000ff"><b> 19 - 22 MARCH, 2020</b></font></h3>

                                <h2 class="title">Research <span >Conclave</span> 2020</h2>
                                <h3 class="location"><i class="fa fa-map-marker"></i> Indian Institute of Technology Guwahati.</h3>

                                <!--div class="action-area">
                                    <div class="lgx-video-area">
                                        <a class="lgx-btn lgx-btn-red" href="#">Buy Ticket</a>
                                        <a class="lgx-btn lgx-btn-yellow" href="#">Registration</a-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </div>
</section>
<!--BANNER END-->
<!--Announcemnets Start-->
<div class="container-fluid">
        
                <center>
                   	<br>
                    <b>
                        <font color="red"><u>ANNOUNCEMENTS</u></font>
                    </b>
                    <b>
                        <ul style="list-style-type: none; ">
                            <li><a href="https://www.iitg.ac.in/aer/alumnimeet2020">IIT Guwahati Alumni Meet from 20th March, 2020 to 22nd March,2020</a></li>
                            <li>Abstract Submission for "Model presentation (Only for School Students)" <a href="http://event.iitg.ac.in/rc2020" target="_blank">&ensp;CLICK HERE</a></li>
                            <li>Registrations for workshop is open <a href="atelier.html" target="_blank">CLICK HERE</a></li>
                            <li>Download Poster Template for RC20 <img src="assets/img/new1.gif" class="left" width="30" height="20"><a href="assets/img/RC2020 Poster Template.pptx" target="_blank">CLICK HERE</a></li>
                            <li>Research Conclave Official Merchandise! <img src="assets/img/new1.gif" class="left" width="30" height="20"><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=jacKheGUxkuc84wRtTBwHG8TbezLRrdPmwYNwdmHxMxUNlMxUjRVNTZORFdJVjNYV1RSTk9PRDZCSy4u" target="_blank" >Order Now!</a></li>
                            <li>Registrations for TEQIP is open <img src="assets/img/new1.gif" class="left" width="30" height="20"><a href="teqip.html" target="_blank">Click here!</a></li>
                        </ul>
                    </b>
                    <br>
                </center>
                    
</div>
<!--Announcements End-->
    <!--about-->
    <section>
        <div id="about" class="lgx-about lgx-about-music">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                            <div class="lgx-about-content-area" style="background: #F0F8FF; padding-top: 3rem; padding-left: 6rem; padding-right: 6rem;">
                                <div class="lgx-heading">
                                  <center>
                                    <h3 class="subheading"><b>About Research Conclave 2020</b></h3>
                                     <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="80%" height="3">
                                   </center>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text" align="justify" style="font-family: Arial;"><b>
                                        Research Conclave is an event organized by the Students’ Academic Board (SAB) of Indian Institute of Technology Guwahati (IITG). Started in 2015, Research Conclave has become a veritable platform to nurture the young minds towards research, innovation and entrepreneurship and intends to bring the undivided attention of the students towards both industries and academia to redress the academic research challenges, concerns of the entire student community and upcoming entrepreneurs around the globe. It is a forum to harness innovative minds of current society by taking innovations made in research to their actual implementation in the industries. Research Conclave aims to be the catalyst which builds leaders through holistic, transformable and innovative ideas.
                                        <br>
                                        Research Conclave has gone from strength to strength since its inception and now boasts of being one of the largest of its kind in India with the 2019 edition witnessing participants from over 30 states and union territories of our country.</b>
                                        </br>
                                        <br>
                                        <br><br>
                                    </p>
                                </div>
                            </div>
                              <br><br><br><br><br>
                        </div>

                        <div class="row">
                            <div class="lgx-about-content-area" style="background: #F0F8FF; padding-left: 6rem; padding-right: 6rem;">
                                <div class="lgx-heading">
                                  <center>
                                    <h3 class="subheading"><b>Objective of Research Conclave 2020</b></h3>
                                     <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="80%" height="3">
                                   </center>
                                </div>
                                <div class="lgx-about-content">
                                    <p class="text" align="justify" style="font-family: Arial;"><b>
                                        <li id="u2013-2">Showcasing the ongoing research activities by research groups of different educational institutions across the country.</li>
         <li id="u2013-4">Providing a platform for exchange of thoughts between distinguished guests and participants from different cultural and scientific backgrounds.</li>
         <li id="u2013-6">Facilitating industry - academia interaction with emphasis on the technological requirements and expectations of and from research institutes.</li>
         <li id="u2013-8">Inspiring and encouraging the undergraduate student community to pursue a career in research.</li>
         <li id="u2013-10">Acting as a platform for budding startups to showcase their idea and to provide them with necessary guidance through established entrepreneurs and firms.</li></b>
        </ul>
                                    </p>
                                    <div class="row">
                                      <div class="col-lg-3">
                                        <div class="section-btn-area">
                                            <center>
                                            <b>RC 2020 Brochure :</b><br>
                                            <a class="lgx-btn lgx-btn-red lgx-scroll" href="{% static 'pre_edition/rc20/assets/img/Brochure original.pdf' %}" target="blank">Download Brochure</a>
                                          </center>
                                        </div>
                                      </div>
                                      <div class="col-lg-3">
                                        <div class="section-btn-area">
                                            <center>
                                            <b>Foreign Brochure :</b><br>
                                            <a class="lgx-btn lgx-btn-red lgx-scroll" href="{% static 'pre_edition/rc20/assets/img/foreign_brochure.pdf' %}" target="blank">Download Brochure</a>
                                            </center>
                                        </div>
                                      </div>
                                      <div class="col-lg-3">
                                        <div class="section-btn-area">
                                            <center>
                                            <b>TEQIP Brochure :</b><br>
                                            <a class="lgx-btn lgx-btn-red lgx-scroll" href="{% static 'pre_edition/rc20/assets/img/teqip.pdf' %}" target="blank">Download Brochure</a>
                                            </center>
                                        </div>
                                      </div>
                                      <div class="col-lg-3">
                                        <div class="section-btn-area">
                                            <center>
                                            <b>Sponsor Brochure :</b><br>
                                            <a class="lgx-btn lgx-btn-red lgx-scroll" href="{% static 'pre_edition/rc20/assets/img/Sponsor Brochure.pdf' %}" target="blank">Download Brochure</a>
                                            </center>
                                        </div>
                                      </div>
                                    </div>
                                  </center>
                                    <br><br><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section>
    <!--about end-->

<!-- Programe Outline-->
<section style="background: grey">

    <div id="outline">
        <div class="lgx-inner">
        <br>
            <div class="container">
            <!--div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Schedule</h2>
                            <img src="assets/img/border.png" class="left" width="40%" height="80"></h2>
                            <h2 class="subheading">To Be Announced!</h2>
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h1 class="heading">PROGRAMME OUTLINE</h1>
                            <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="50%" height="3">
                            <h3 class="subheading">Click on the day for details schedule!</h3>
                        </div>
                    </div>
                </div>

                <center><h2>Conclave Starts</h2></center>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
                            <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">  <!--lgx-nav-nogap lgx-nav-colorful-->
                                <li><a data-toggle="pill" href="#day0"><h3>Day 0: 19 March 2020(Thursday) - Evening</h3></a></li>
                                <li><a data-toggle="pill" href="#day1"><h3>Day 1: 20 March 2020(Friday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day2"><h3>Day 2: 21 March 2020(Saturday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day3"><h3>Day 3: 22 March 2020(Sunday)</h3></a></li>
                              </ul>
                                <!--li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>15 </span>Feb, 2019</p></a></li>
                            </div>
                            <br>
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2">--> <!--lgx-tab2 lgx-tab-vertical-->
                            <!--ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">-->  <!--lgx-nav-nogap lgx-nav-colorful-->
                                <!--li class="active"><a data-toggle="pill" href="#home"><h3>Registration starts</h3> <p><span>31 </span>Jan, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu3"><h3>Last date of Registration and submission for Startup Challenge</h3> <p><span>20 </span>Feb, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu2 </span>Feb, 2019</p></a></li>"><h3>Notification of Acceptance for Startup Challenge</h3> <p><span>23 </span>Feb, 2019</p></a></li>
                            </div>
                             </br>
        </div--></div></div>
        <!-- //.INNER -->
    </div>



    <div class="tab-content">
      <div id="day0" class="tab-pane fade">
        <center>
        <h3>Day 0: 19 March 2020(Thursday) - Evening</h3>
        <table class="table" style="background-color: white;">
          <tbody>
            <tr style="background-color: #1552A0; color: white;">
              <th scope="row"><center>Time</center></th>
              <th scope="row"><center>Event</center></td>
            </tr>
            <tr align="center">
              <td><b>03:00PM - 05:00PM</b></th>
              <td><b>Registration - Internal(IIT Guwahati) participants
                <br>
                Venue: Dr. Bhupen Hazarika Auditorium Foyer
              </b></td>
            </tr>
            <tr align="center">
              <td><b>05:30PM - 06:00PM</b></th>
              <td><b>High Tea</b></td>
            </tr>
            <tr align="center">
              <td><b>06:00PM onwards</b></th>
              <td><b>Inaugration
                <br>
                Address by the Director, IIT Guwahati
                <br>
                Inaugral Lecture by the Chief Guest(Guest Lecture)
              </b></td>
            </tr>
          </tbody>
        </table>
      </center>
      </div>
      <div id="day1" class="tab-pane fade">
        <center>
        <h3>Day 1:20 March 2020(Friday)</h3>
        <table class="table" style="background-color: white;">
          <tbody align="center" vertical-align="center">
            <tr style="background-color: #1552A0; color: white;" align="center">
              <th scope="row" colspan="2"><center>Session I(08:00AM - 01:00PM)</center></th>
              <th scope="row"><center>  Session II(02:00PM - 06:00PM)</center></td>
            </tr>
            <tr align="center">
              <td rowspan="2" colspan="2"><b>Registrations of External Participants & Display of Poster in New Class Room Complex Premises
                <br>
                (08:00AM - 09:00AM)
              </b></th>
              <td><b>3 Minutes' Thesis Presentations-I
                <br>
                (02:00PM-03:00PM)
                <br>
                Room-6
              </b></td>
            </tr>
            <tr align="center">
              <td><b>3 Minutes' Thesis Presentations-I
                <br>
                (02:00PM-03:00PM)
                <br>
                Room-6
              </b></td>
            </tr>
            <tr align="center">
              <td colspan="2"><b>Oral & Invited Talk-I (5 Departments/Centres)
                <br>
                (09:00 AM - 01.00 PM)
              </b></td>
              <td rowspan="3"><b>Poster Session-II
              <br>
              (02:00PM-06:00PM)
            </b></td>
            </tr>
            <tr align="center">
                <td><b>Department-1<br>(Room-1)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-2<br>(Room-2)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-3<br>(Room-3)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>
                <td rowspan="3">
                  <b>Model Exhibition<br>(02:00PM-03:00PM)</b>
                </td>
            </tr>
            <tr align="center">
              <td><b>Department-4<br>(Room-4)</b></td>
              <td><b>Two Speakers and Oral Presentations</b></td>
            </tr>
            <tr align="center">
              <td><b>Department-5<br>(Room-5)</b></td>
              <td><b>Two Speakers and Oral Presentations</b></td>
            </tr>
            <tr align="center">
              <td colspan="2">
                <b>
                  Poster Session-I<br>
                  (09:00AM-01:00PM)
                </b>
              </td>
              <td>
                <b>
                  Institute Lecture-II<br>
                  (03:30PM-05:30PM)
                </b>
              </td>
            </tr>
            <tr align="center">
              <td colspan="2">

                <b>
                  Workshop-I<br>
                  (09:00AM-01:00PM)
                </b>
              </td>
              <td>
                <b>
                  Workshop-II<br>
                  (03:30PM-05:30PM)
                </b>
              </td>
            </tr>
            <tr align="center">
              <td colspan="3"><h3>Institute Open Day</h3></td>
            </tr>
          </tbody>
        </table>
      </center>
      </div>
      <div id="day2" class="tab-pane fade">
        <center>
        <h3>Day 2:21 March 2020(Saturday)</h3>
        <table class="table" style="background-color: white;">
          <tbody align="center" vertical-align="center">
            <tr style="background-color: #1552A0; color: white;" align="center">
              <th scope="row"><center>Session I(09:00AM - 01:00PM)</center></th>
              <th scope="row" colspan="2"><center>  Session II(02:00PM - 06:00PM)<br>All Parallel Sessions</center></td>
            </tr>
            <tr align="center">
                <td><b>Institute Lecture-3/Panel Discussions
                  <br>
                  (09:00AM-11:00AM)</b>
                </td>
                <td colspan="2"><b>Poster-IV</b></td>
              </b>
            </tr>
            <tr align="center">

                <td rowspan="6"><b>Redstart: The Startup Challenge<br>(11:00AM-01:00PM)</b></td>
                <td colspan="2"><b>Oral & Invited Talk-II(5 Department Centres)</b></td>

            </tr>
            <tr align="center">

                <td><b>Department-6<br>(Room-1)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>
              </b>
            </tr>
            <tr align="center">

                <td><b>Department-7<br>(Room-2)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>

            </tr>
            <tr align="center">

                <td><b>Department-8<br>(Room-3)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>

            </tr>
            <tr align="center">

                <td><b>Department-9<br>(Room-4)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>

            </tr>
            <tr align="center">

                <td><b>Department-10<br>(Room-5)</b></td>
                <td><b>Two Speakers and Oral Presentations</b></td>

            </tr>
            <tr align="center">

                <td><b>Poster-III<br>(11:00AM-01:00PM)</b></td>
                <td colspan="2"><b>Redstart: The Startup Challenge</b></td>

            </tr>
            <tr align="center">

                <td><b>Quiz<br>(11:00AM-01:00PM)</b></td>
                <td colspan="2"><b>Workshop-III</b></td>

            </tr>
          </tbody>
        </table
      </center>
      </div>

      <div id="day3" class="tab-pane fade">
        <center>
        <h3>Day 3:22 March 2020(Sunday)</h3>
        <table class="table" style="background-color: white;">
          <tbody align="center" vertical-align="center">
            <tr style="background-color: #1552A0; color: white;" align="center">
              <th scope="row" colspan="2"><center>Session I(08:00AM - 01:00PM)</center></th>
              <th scope="row"><center>  Session II(02:00PM - 05:30PM)</center></td>
            </tr>
            <tr align="center">
              <td colspan="2"><b>Oral & Invited Talk-III (6 Departments/Centres)
              </b></td>
              <td rowspan="6"><b>Institute Lecture-IV
              <br>
              (02:00PM-04:00PM)
            </b></td>
            </tr>
            <tr align="center">
                <td><b>Department-11<br>(Room-1)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-12<br>(Room-2)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-13<br>(Room-3)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-14<br>(Room-4)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-15<br>(Room-5)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
            </tr>
            <tr align="center">
                <td><b>Department-16<br>(Room-6)</b></td>
                <td><b>Two Speakers and Oral Prsentation</b></td>
                <td>
                  <b>High Tea<br>(04:00PM-04:30PM)</b>
                </td>
            </tr>
            <tr align="center">
              <td colspan="2">
                <b>
                  Workshop-IV
                </b>
              </td>
              <td>
                <b>
                  Valedictory<br>
                  (04:30PM-05:30PM)
                </b>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
      </div>
    </div>
</section>
<!-- Programme outline end-->

<!--Events-->
<section>
    <div id="events" class="lgx-sponsors">
        <div class="lgx-inner-bg">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Events</h2>
                                <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="50%" height="3">
                            </div>
                        </div>
                    </div>
                    <!--//main row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sponsors-area">
                                <div class="single">
                                    <a class="" href="scientifique.html"><img src="{% static 'pre_edition/rc20/assets/img/ev1.png' %}" alt="events"/></a>
                                    <div class="speaker-info">
                                            <h3 class="title"><a href="scientifique.html">"SCIENTIFIQUE"</a></h3>
                                            <h4 class="subtitle">Oral, Poster, Model & 3 Minutes' Thesis Presentation</h4>
                                        </div>
                                </div>

                                <div class="single">
                                    <a class="" href="atelier.html"><img src="{% static 'pre_edition/rc20/assets/img/ev2.png' %}" alt="events"/></a>
                                    <div class="speaker-info">
                                            <h3 class="title"><a href="atelier.html">"ATELIER"</a></h3>
                                            <h4 class="subtitle">Workshops & </h4>
                                            <h4 class="subtitle">Hands on Session</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <a class="" href="speakers.html"><img src="{% static 'pre_edition/rc20/assets/img/ev3.png' %}" alt="events"/></a>
                                    <div class="speaker-info">
                                            <h3 class="title"><a href="speakers.html">"CONNAISSANCE"</a></h3>
                                            <h4 class="subtitle">Lecture Series: Academicians and Industrialists</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                    </div>
                    <!--//row-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sponsors-area">
                                <div class="single">
                                    <a class="" href="discutir.html"><img src="{% static 'pre_edition/rc20/assets/img/ev4.png' %}" alt="events"/></a>
                                    <div class="speaker-info">
                                            <h3 class="title"><a href="discutir.html">"DISCUTIR"</a></h3>
                                            <h4 class="subtitle">Panel Discussion, Scientific Debate & Quiz</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <a class="" href="startup.html"><img src="{% static 'pre_edition/rc20/assets/img/ev5.png' %}" alt="events"/></a>
                                    <div class="speaker-info">
                                            <h3 class="title"><a href="startup.html">"INNOVATEUR PLATE-FORME"</a></h3>
                                            <h4 class="subtitle">Redstart : The Startup Challenge</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!--//col-->
                    </div>
                        <!--//col-->
                    </div>
                    <!--//row-->
                </div>
                <!--//container-->
            </div>
        </div>
        <!--//lgx-inner-->
    </div>
</section>
<!--Events end-->

<!--SCHEDULE-->
<section>
    <div id="schedule" class="lgx-schedule">
        <div class="lgx-inner">
        <br>
            <div class="container">
            <!--div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Schedule</h2>
                            <img src="assets/img/border.png" class="left" width="40%" height="80"></h2>
                            <h2 class="subheading">To Be Announced!</h2>
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Important Dates</h2>
                            <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="50%" height="3">
                            <!--h3 class="subheading">Welcome to the dedicated to building remarkable Schedule!</h3-->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
                            <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">  <!--lgx-nav-nogap lgx-nav-colorful-->
                                <li class="active"><a data-toggle="pill" href="#home"><h3>Registration starts</h3> <p><span><b>06 </b></span><b>Jan, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3><strike>Last Date of Registration</strike><br>Abstract Submission Deadline</h3> <p><span><b>10 </b></span><b>Feb, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3>Acceptance Notification</h3> <p><span><b><strike>7 </strike></b></span><b><strike>Feb, 2020</strike></b></p><p><span><b>20 </b></span><b><b>Feb, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3>Last Date for Payment</h3> <p><span><b>1 </b></span><b>Mar, 2020</b></p><p style="visibility: hidden;">Hidden value</p></a></li>

                                <!--li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>15 </span>Feb, 2019</p></a></li>
                            </div>
                            <br>
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
                            <!--ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">  <!--lgx-nav-nogap lgx-nav-colorful-->
                                <!--li class="active"><a data-toggle="pill" href="#home"><h3>Registration starts</h3> <p><span>31 </span>Jan, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu3"><h3>Last date of Registration and submission for Startup Challenge</h3> <p><span>20 </span>Feb, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu2 </span>Feb, 2019</p></a></li>"><h3>Notification of Acceptance for Startup Challenge</h3> <p><span>23 </span>Feb, 2019</p></a></li>
                            </div>
                             </br>
        </div-->
        <!-- //.INNER -->
    </div>
</section>
<!--SCHEDULE END-->
<!--Registration-->
            <section>
            <div id="registration" class="lgx-registration-simple">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">REGISTRATION</h2>
                                <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="50%" height="3">
                                <!--h3 class="subheading">Click on the applicable</h3-->
                            </div>

                            <h3><div style= "color:#23f4d7fa;" class="blink_me">
                            	Registration for workshop is open<br>
                                
                            </div></h3>
                            <div class="sponsors-area">
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Students</a></h3>
                                            <h4 class="subtitle">Rs. 200.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Faculty/Academicians</a></h3>
                                            <h4 class="subtitle">Rs. 2000.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Industrialists</a></h3>
                                            <h4 class="subtitle">Rs. 3000.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="startup.html">Startup Challenge</a></h3>
                                            <h4 class="subtitle">Rs. 500.00</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <b style="color:#603; background-color:#FF0">A GST of 18% and payment gateway charge will be added to each transaction fee. Registration fee is non-refundable.</b>

                        <h3><center>For Template for Abstract Submission&ensp;<a href="{% static 'pre_edition/rc20/assets/img/abstract_template.docx' %}"><u>CLICK HERE</u></a></center></h3>
                        </div>
                        </div>
                        </div>
                        </section>

                    <!--Registration end-->


 <!--Contact-->

    <section>
        <div id="contact" class="lgx-travelinfo">
            <div class="lgx-inner">
            <br>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Contact Us</h2>
                                <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="50%" height="3">
                                <!--h3 class="subheading">Conferences dedicated to building remarkable events.</h3-->
                            </div>
                        </div>
                        <!--//main COL-->
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-travelinfo-content">
                                <div class="lgx-travelinfo-single">
                                    <img src="{% static 'pre_edition/rc20/assets/img/Contact.png' %}" alt="User"/>
                                    <!--h3 class="title"></h3-->
                                    <p class="info"><b>Faculty Convener</b></p>
                                    <p class="info">Dr. Nelson Muthu</p>
                                    <p class="info">Assisstant Professor</p>
                                    <p class="info">Department of Mechanical Engineering</p>
                                    <!-- <p class="info">+91-9820723410</p> -->
                                    <br>
                                    <p class="info"><b>Faculty Co-Convener</b></p>
                                    <p class="info">Dr. Prakash Kotecha</p>
                                    <p class="info">Associate Professor</p>
                                    <p class="info">Department of Chemical Engineering</p>
                                    <!-- <p class="info">+91-8638963865</p> -->
                                </div>
                                <div class="lgx-travelinfo-single">
                                     <img src="{% static 'pre_edition/rc20/assets/img/Contact.png' %}" alt="User"/>
                                    <p class="info"><b>Student Convener</b></p>
                                    <p class="info">Mr. Pankaj Boruah</p>
                                    <p class="info">+91-9706583712</p>
                                     <br>
                                    <p class="info"><b>Student Co-Convener</b></p>
                                    <p class="info">Mr. Mayank Sharma</p>
                                    <p class="info">+91-9407858203</p>
                                    <p class="info">Mr. Ankan Mishra</p>
                                    <p class="info">+91-9437918080</p>
                                </div>
                                <div class="lgx-travelinfo-single">
                                    <img src="{% static 'pre_edition/rc20/assets/img/Mail.png' %}" alt="Mailing"/>
                                    <!--h3 class="title">Transport</h3-->
                                    <p class="info">research_conclave@iitg.ac.in</p>
                                    <p class="info">researchconclave.iitg@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
                </br>
            </div>
        </div>
    </section>
    <!--Contact END-->



<!--FOOTER-->
<footer>
    <div id="lgx-footer" class="lgx-footer lgx-footer-music lgx-footer-black"> <!--lgx-footer-white-->
        <div class="lgx-inner-footer">
            <div class="lgx-subscriber-area ">
                <div class="container">
                    <div class="lgx-subscriber-inner">
                        <h3 class="subscriber-title">Quick Links</h3>
                        <img src="{% static 'pre_edition/rc20/assets/img/rr.png' %}" class="left" width="30%" height="3">
                              <ul class="list-inline quick links">
                              <br>
                            <li><a href="http://www.iitg.ac.in" target="_blank" class="lgx-btn lgx-btn-red">IIT Guwahati</a></li>
                            <li><a href="https://www.iitg.ac.in/sab" target="_blank" class="lgx-btn lgx-btn-red">SAB, IITG</a></li>
                            <li><a href="http://event.iitg.ac.in/researchconclave/rc16/" target="_blank" class="lgx-btn lgx-btn-red">RC'16</a></li>
                            <li><a href="http://event.iitg.ac.in/researchconclave/rc17/" target="_blank" class="lgx-btn lgx-btn-red">RC'17</a></li>
                            <li><a href="http://event.iitg.ac.in/researchconclave/rc18/" target="_blank" class="lgx-btn lgx-btn-red">RC'18</a></li>
                            <li><a href="http://event.iitg.ac.in/researchconclave/rc19/" target="_blank" class="lgx-btn lgx-btn-red">RC'19</a></li>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="lgx-footer-area">
                    <div class="lgx-footer-single">
                         <a class="logo"><img src="{% static 'pre_edition/rc20/assets/img/iitg_sab.png' %}" alt="Logo" style="opacity: 0.7;">
                    </div> <!--//footer-area-->
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Venue Location </h3>
                        <h4 class="date">
                            19 - 22 March, 2020
                        </h4>
                        <address>
                            Indian Institute of Technology Guwahati <br>
                            Assam-781039, India
                        </address>
                        <a id="myModalLabel2" data-toggle="modal" data-target="#lgx-modal-map" class="map-link" href="https://goo.gl/maps/fJkqEekM2MHbxDUn9"><i class="fa fa-map-marker" aria-hidden="true"></i> View Map location</a>
                    </div>
                    <div class="lgx-footer-single">
                        <h3 class="footer-title">Social Connection</h3>
                        <p class="text">
                            Connect our social network <br> for Any update
                        </p>
                        <ul class="list-inline lgx-social-footer">
                            <li><a href="https://www.facebook.com/researchconclave" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/RC_IITG" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/rc_iitg" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <!--<div class="lgx-footer-single">
                        <h2 class="footer-title">Instagram Feed</h2>
                        <div id="instafeed">
                        </div>
                    </div>-->
                </div>
                <!-- Modal-->
                <div id="lgx-modal-map" class="modal fade lgx-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="modal-body">
                                <div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- //.Modal-->

                <div class="lgx-footer-bottom">
                    <div class="lgx-copyright">
                        <p> <span>©</span> 2020 Students' Academic Board, IIT Guwahati</p>
                        <p> <span>Maintained By: </span> Rupak, Ujjwal & Sanjib</p>
                    </div>
                </div>

            </div>
            <!-- //.CONTAINER -->
        </div>
        <!-- //.footer Middle -->
    </div>
</footer>
<!--FOOTER END-->


</div>
<!--//.LGX SITE CONTAINER-->
<!-- *** ADD YOUR SITE SCRIPT HERE *** -->
<!-- JQUERY  -->
<script src="{% static 'pre_edition/rc20/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

<!-- BOOTSTRAP JS  -->
<script src="{% static 'pre_edition/rc20/assets/libs/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- Smooth Scroll  -->
<script src="{% static 'pre_edition/rc20/assets/libs/jquery.smooth-scroll.js' %}"></script>

<!-- SKILLS SCRIPT  -->
<script src="{% static 'pre_edition/rc20/assets/libs/jquery.validate.js' %}"></script>

<!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>

<!-- CUSTOM GOOGLE MAP -->
<script type="text/javascript" src="{% static 'pre_edition/rc20/assets/libs/gmap/jquery.googlemap.js' %}"></script>

<!-- adding magnific popup js library -->
<script type="text/javascript" src="{% static 'pre_edition/rc20/assets/libs/maginificpopup/jquery.magnific-popup.min.js' %}"></script>

<!-- Owl Carousel  -->
<script src="{% static 'pre_edition/rc20/assets/libs/owlcarousel/owl.carousel.min.js' %}"></script>

<!-- COUNTDOWN   -->
<script src="{% static 'pre_edition/rc20/assets/libs/countdown.js' %}"></script>
<script src="{% static 'pre_edition/rc20/assets/libs/timer/TimeCircles.js' %}"></script>

<!-- Counter JS -->
<script src="{% static 'pre_edition/rc20/assets/libs/waypoints.min.js' %}"></script>
<script src="{% static 'pre_edition/rc20/assets/libs/counterup/jquery.counterup.min.js' %}"></script>

<!-- SMOTH SCROLL -->
<script src="{% static 'pre_edition/rc20/assets/libs/jquery.smooth-scroll.min.js' %}"></script>
<script src="{% static 'pre_edition/rc20/assets/libs/jquery.easing.min.js' %}"></script>

<!-- type js -->
<script src="{% static 'pre_edition/rc20/assets/libs/typed/typed.min.js' %}"></script>

<!-- header parallax js -->
<script src="{% static 'pre_edition/rc20/assets/libs/header-parallax.js' %}"></script>

<!-- instafeed js -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
<script src="{% static 'pre_edition/rc20/assets/libs/instafeed.min.js' %}"></script>

<!-- CUSTOM SCRIPT  -->
<script src="{% static 'pre_edition/rc20/assets/js/custom.script.js' %}"></script>







</body>
</html>
