{% extends 'base.html' %} {% load static %} {% load bootstrap4 %} {% block css %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Hind:300,400&display=swap');
    * {
        box-sizing: border-box;
    }
    
    *::before,
    *::after {
        box-sizing: border-box;
    }
    
    .accordion .accordion-item {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .accordion .accordion-item button[aria-expanded='true'] {
        border-bottom: 1px solid #03b5d2;
    }
    
    .accordion button {
        position: relative;
        display: block;
        text-align: left;
        width: 100%;
        padding: 1em 0;
        color: #7288a2;
        font-size: 1.15rem;
        font-weight: 400;
        border: none;
        background: none;
        outline: none;
    }
    
    .accordion button:hover,
    .accordion button:focus {
        cursor: pointer;
        color: #03b5d2;
    }
    
    .accordion button:hover::after,
    .accordion button:focus::after {
        cursor: pointer;
        color: #03b5d2;
        border: 1px solid #03b5d2;
    }
    
    .accordion button .accordion-title {
        padding: 1em 1.5em 1em 0;
    }
    
    .accordion button .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
    }
    
    .accordion button .icon::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }
    
    .accordion button .icon::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }
    
    .accordion button[aria-expanded='true'] {
        color: #03b5d2;
    }
    
    .accordion button[aria-expanded='true'] .icon::after {
        width: 0;
    }
    
    .accordion button[aria-expanded='true']+.accordion-content {
        opacity: 1;
        max-height: 100%;
        transition: all 200ms linear;
        will-change: opacity, max-height;
    }
    
    .accordion .accordion-content {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: opacity 200ms linear, max-height 200ms linear;
        will-change: opacity, max-height;
    }
    
    .accordion .accordion-content p {
        font-size: 100%;
        font-weight: 300;
        margin: 2em 0;
    }
</style>
{% endblock css %} {% block banner %}
<section>
    <div class="lgx-banner lgx-banner-music">
        <div class="lgx-banner-style">
            <div class="lgx-inner lgx-inner-fixed">
                <div class="container">
                    <div class="row">
                        <center><b>
                <h1>Frequently Asked Questions</h1>
              </b></center>

                    </div>
                </div>
            </div>
            <!--//.ROW-->
        </div>
        <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER -->
    </div>
    </div>
</section>
{% endblock banner %} {% block content %}
<section>
    <br>
    <div class="container" style="background-color: rgb(174, 185, 207);">
        
        <form method="GET">
            {% bootstrap_form filter.form %}
            <center>

                <button type="submit" class="btn btn-primary" >Search</button>
            </center>
            <br>
        </form>

    </div>


    <div class="accordion container">

        <br> {% for i in filter.qs %}
        <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">{{i|safe|linebreaks}}</span><span class="icon" aria-hidden="true"></span></button>
            <div class="accordion-content">
                <h3>{{i.answer|safe|linebreaks}}</h3>
            </div>
        </div>
        <br> {% endfor %}
    </div>
    <div class="container">
        <h3>Didn't found your answer?</h3>
        <p>Please fill-up the <a href="">form</a></p>
    </div>
    <br><br>
</section>
{% endblock content %} {% block js %}
<script>
    const items = document.querySelectorAll(".accordion button");

    function toggleAccordion() {
        const itemToggle = this.getAttribute('aria-expanded');

        for (i = 0; i < items.length; i++) {
            items[i].setAttribute('aria-expanded', 'false');
        }

        if (itemToggle == 'false') {
            this.setAttribute('aria-expanded', 'true');
        }
    }

    items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock js %}