<style type="text/css">
    p.p1 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 12.5px 'Times New Roman';
        color: #000000;
        background-color: #ffffff
    }

    p.p2 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 12.5px Times;
        color: #000000;
        background-color: #ffffff
    }

    p.p4 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: justify;
        font: 12.5px Times;
        color: #000000;
        background-color: #ffff0b
    }

    p.p5 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px Helvetica;
        color: #1b1b1b;
        background-color: #ffffff;
        min-height: 16.0px
    }

    p.p6 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px Times;
        color: #1b1b1b;
        background-color: #ffffff
    }

    p.p7 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #000000;
        background-color: #ffffff;
        min-height: 15.0px
    }

    p.p8 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #000000;
        background-color: #ffffff
    }

    p.p9 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        text-align: center;
        font: 12.5px 'Times New Roman';
        color: #000000;
        background-color: #ffffff
    }

    p.p10 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #191919;
        background-color: #ffffff
    }

    p.p11 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #0000ff;
        background-color: #ffffff
    }

    p.p12 {
        margin: 0.0px 0.0px 8.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #000000;
        min-height: 15.0px
    }

    p.p13 {
        margin: 0.0px 0.0px 8.0px 0.0px;
        font: 12.5px 'Times New Roman';
        color: #000000
    }

    li.li3 {
        margin: 0.0px 0.0px 0.0px 0.0px;
        font: 12.5px Times;
        color: #262626
    }

    span.s1 {
        color: #e64446
    }

    span.s2 {
        text-decoration: underline;
        color: #d45515;
        background-color: #ffffff
    }

    span.s3 {
        color: #000000;
        background-color: #ffffff
    }

    span.s4 {
        background-color: #ffffff
    }

    span.s5 {
        color: #0f4db2;
        background-color: #ffffff
    }

    span.s6 {
        color: #d45515;
        background-color: #ffffff
    }

    span.s7 {
        color: #e64446;
        background-color: #ffffff
    }

    span.s8 {
        text-decoration: underline;
        color: #0000e9
    }

    span.s9 {
        color: #fb0007
    }

    span.s10 {
        color: #181817
    }

    span.s11 {
        font: 8.3px 'Times New Roman';
        color: #181817
    }

    span.s12 {
        text-decoration: underline;
        color: #0000ff
    }

    span.s13 {
        color: #000000
    }

    span.s14 {
        text-decoration: underline;
        color: #000000
    }

    span.Apple-tab-span {
        white-space: pre
    }

    ol.ol1 {
        list-style-type: decimal
    }
</style>
<p class="p1">Dear {{name}} ,</p>
<p class="p1">&nbsp;</p>
<p class="p1">Greetings from Team Research and Industrial Conclave IIT Guwahati</p>
<p class="p1">&nbsp;</p>
<p class="p1">It gives us immense pleasure to announce the most significant and exciting event of the year <strong>&quot;Research &amp; Industrial Conclave-Integration&apos;23&quot;</strong>, the eight consecutive meeting, one of its kind, jointly organized by the <strong>Students&rsquo; Academic Board (SAB), IIT Guwahati and IIT Guwahati ResearchPark&nbsp;</strong>which is going to be held during <strong>May 14 - 16, 2023.</strong>&nbsp; The event &ldquo;Research and Industrial Conclave-Integration&rsquo;23&rdquo; stands as an efficacious platform for motivating young minds towards research, innovation, and entrepreneurship. It intends to promote a shared vision of understanding of scientific endeavor and curiosity.&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p2">These are the highlights of RIC 2023<strong>:&nbsp;</strong></p>
<ol class="ol1">
    <li class="li3"><span class="s1"><a href="http://www.ric.iitg.ac.in/event/1"><span class="s2"><strong>Scientifique&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Oral, poster, model, and three-minute thesis presentation to showcase your original research work</span><span class="s3">&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/2"><span class="s2"><strong>Atelier&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Workshops with immersive learning and discussions</span><span class="s5">&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/3"><span class="s2"><strong>Connaissance&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Lecture series featuring leading academicians and industry experts&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/4"><span class="s2"><strong>Discutir&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Panel discussions on the most relevant scientific topics of our times&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/5"><span class="s2"><strong>Emprendimiento</strong></span></a></span><span class="s6"><strong>&nbsp;</strong></span><span class="s3">-&nbsp;</span><span class="s4">Platform for start-ups to present their concept, network and collaborate, and to raise funds to launch or upscale their enterprise&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/6"><span class="s2"><strong>Hackathon&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Formulation of holistic solutions for pressing social problems through technological intervention, and the joint engagement of governance and industry to foster start-ups that implement these solutions&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/7"><span class="s2"><strong>Indsol&nbsp;</strong></span></a></span><span class="s3">-&nbsp;</span><span class="s4">Multi-stakeholder (industries, organizations, start-ups, entrepreneurs) solution presentation with added opportunity for long term collaboration with students, scientists and researchers interested in the field&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/8"><span class="s2"><strong>Tech Talk</strong></span></a></span><span class="s7">&nbsp;</span><span class="s3">-</span><span class="s5">&nbsp;</span><span class="s4">Platform&nbsp;for&nbsp;scholars and industry experts to present research output to government and industry representatives, with rigorous jury evaluation based on futuristic application and commercial viability</span><span class="s5">&nbsp;</span></li>
    <li class="li3"><span class="s1"><a href="https://www.ric.iitg.ac.in/event/9"><span class="s2"><strong>Innovation Exhibit</strong></span></a></span><span class="s7">&nbsp;</span><span class="s3">-&nbsp;</span><span class="s4">Showcasing products, prototypes and services designed by corporates, PSUs, These are the highlights of RIC 2023 MSMEs, start-ups, entrepreneurs, and students so as to commercialize these creations&nbsp;</span><span class="s3"><br></span></li>
</ol>
<p class="p4"><strong><em>Abstract&nbsp;</em></strong><a href="https://www.ric.iitg.ac.in/event/1"><span class="s8"><strong><em>SCIENTIFIQUE</em></strong></span></a><strong><em>&nbsp;has already begun accepting submissions, and the deadline is April 20, 2023.</em></strong></p>
<p class="p5"><br></p>
<p class="p5"><br></p>
<p class="p6"><strong>Visit the following to submit your abstracts:&nbsp;</strong><a href="https://www.ric.iitg.ac.in/register"><span class="s8"><strong>https://www.ric.iitg.ac.in/register</strong></span></a></p>
<p class="p7"><br></p>
<p class="p8">We invite you all to participate in this amalgamation and submit abstract for the Oral/Poster/Model presentation, Startup Challenge, and 3 Minutes Thesis Presentations and make this event a huge success. Please encourage and mobilize research scholars, also postgraduate and undergraduate students in your institute to attend and participate in the Research and Industrial Conclave.&nbsp;</p>
<p class="p7"><br></p>
<p class="p8"><span class="s9"><strong>IMPORTANT&nbsp;DATE:</strong></span><span class="s10"><br></span><br><span class="s10"><br></span>Last date for the abstract submission: <span class="s10"><strong><em>20</em></strong></span><span class="s11"><strong><em><sup>th</sup></em></strong></span><span class="s10"><strong><em>&nbsp;April 2023</em></strong><br><br><br></span>Follow us on &nbsp;: &nbsp; &nbsp;</p>
<p class="p9"><span class="s12"><a href="https://www.linkedin.com/company/rc-iitg">LinkedIn</a></span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a href="https://www.facebook.com/ric.iitg"><span class="s12">Facebook</span></a> <span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><a href="https://www.instagram.com/ric_iitg/?igshid=YmMyMTA2M2Y="><span class="s12">Instagram</span></a> <span class="Apple-converted-space">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><a href="https://twitter.com/RIC_IITG"><span class="s12">Twitter</span></a></p>
<p class="p7">&nbsp; &nbsp;&nbsp;</p>
<p class="p10"><span class="s13"><span class="Apple-converted-space">&nbsp; &nbsp;</span></span><span class="s10"><br><br></span>For any query, feel free to contact us:<span class="s10"><br><br></span><span class="s13">+91-9365746087 &nbsp;| <a href="mailto:ihussain@iitg.ac.in"><span class="s12">ihussain@iitg.ac.in</span></a></span><span class="s14">&nbsp;</span></p>
<p class="p7"><br></p>
<p class="p11"><span class="s13">+91-9485185903 &nbsp;| <a href="mailto:d.prangan@iitg.ac.in"><span class="s12">d.prangan@iitg.ac.in</span></a>&nbsp;</span></p>
<p class="p7"><br></p>
<p class="p11"><span class="s13">+91-7224851155 &nbsp;| <a href="mailto:v.bhargava@iitg.ac.in"><span class="s12">v.bhargava@iitg.ac.in</span></a></span><span class="s14">&nbsp;</span></p>
<p class="p7"><br></p>
<p class="p11"><span class="s13">+91-7258894828 &nbsp;| <a href="mailto:k.kalpana@iitg.ac.in"><span class="s12">k.kalpana@iitg.ac.in</span></a>&nbsp;</span></p>
<p class="p10"><span class="s10"><br><br></span><span class="s13">&nbsp;</span><span class="s10"><br><br></span><span class="s13">L</span>ooking forward to hearing from you and welcoming you at <span class="s13"><strong>Research &amp; Industrial Conclave-Integration&apos;23</strong></span><span class="s10"><br><br></span> <span class="s10"><br><br></span>Thank You.</p>
<p class="p12"><br></p>
<p class="p13">Regards,</p>
<p class="p13">Team RIC 2023</p>