{% extends 'base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% load static %}


{% block banner %}

<style>
    #sampleabstractblink{
        font-size: 20px;
        font-weight: bold;
        color: #DC2F21;
        transition: 0.01s;
    }
</style>
<section>
  <div class="lgx-banner lgx-banner-music">
    <div class="lgx-banner-style">
      <div class="lgx-inner lgx-inner-fixed">
        <div class="container">
          <div class="row">
            <h1>{{title}} Registration Form</h1>
          </div>
        </div>
      </div>
      <!--//.ROW-->
    </div>
    <!-- //.CONTAINER -->
  </div>
  <!-- //.INNER -->
  </div>
  </div>
</section>
{% endblock banner %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ title }} Registration Form : {{ TINYMCE_JS_URL }}</div>

                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.media }}
                      {% bootstrap_form form %}



                      {% comment %} {% for field in form %}
                        <div class="form-group">
                            <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
                            {{ field }}
                        </div>
                      {% endfor %} {% endcomment %}
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
