{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block banner %}
<section>
  <div class="lgx-banner lgx-banner-music">
    <div class="lgx-banner-style">
      <div class="lgx-inner lgx-inner-fixed">
        <div class="container">
          <div class="row">
            <h1>Update Data</h1>
          </div>
        </div>
      </div>
      <!--//.ROW-->
    </div>
    <!-- //.CONTAINER -->
  </div>
  <!-- //.INNER -->
  </div>
  </div>
</section>
{% endblock banner %}
{% block content %}
<form action="" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input type="submit" name="" class="btn btn-outline-success" value="Submit">
</form>
{% endblock content %}
