{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block banner %}

<section>
  <div class="lgx-banner lgx-banner-music">
    <div class="lgx-banner-style">
      <div class="lgx-inner lgx-inner-fixed">
        <div class="container">
          <div class="row">
            <h1>Sponsorship Registration</h1>
          </div>
        </div>
      </div>
      <!--//.ROW-->
    </div>
    <!-- //.CONTAINER -->
  </div>
  <!-- //.INNER -->
  </div>
  </div>
</section>
{% endblock banner %}

{% block content %}
<br>
    <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% comment %} {% bootstrap_form form %} {% endcomment %}
        <input type="submit" name="" class="btn btn-success" value="Submit">
    </form>
    <br>
    <br>
    <br>
{% comment %} 
  <div class="container mt-5">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      Thank you for your interest in sponsoring RIC 2024. We will get in touch with you soon.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div> {% endcomment %}

  <script>
    // Close the alert after 5 seconds and redirect to homepage
    setTimeout(function() {
      window.location.href = "/";
    }, 5000);
  </script>
{% endblock content %}