{% extends 'base.html' %}
{% load static %}
{% block program %}



<section style="">






    <div id="outline">
        <div class="lgx-inner">
        <br>
            <div class="container">

                <center><h2>Conclave Starts</h2></center>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
                            <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">
                                <!--<li><a href="#day0"><h3>09 August 2024 - 10 August 2024</h3></a></li>-->

                                 <li><a data-toggle="pill" href="#day0"><h3>Day 0: 09 August 2024(Friday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day1"><h3>Day 1: 10 August 2024(Saturday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day2"><h3>Day 2: 11 August 2024(Sunday)</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div class="tab-content">
      <div id="day0" class="tab-pane fade">
        <center>
        <h3>Day 0: 09 August 2024(Friday)</h3>


            <center style="margin-top: 200px;margin-bottom:200px;">
                <div class="waviy mx-auto text-center" >
                   <span style="--i:1">t</span>
                   <span style="--i:2">o</span>
                   <span style="--i:3"> </span>
                   <span style="--i:4">b</span>
                   <span style="--i:5">e</span>
                   <span style="--i:6"> </span>
                   <span style="--i:7">a</span>
                   <span style="--i:8">n</span>
                   <span style="--i:9">n</span>
                   <span style="--i:10">o</span>
                   <span style="--i:11">u</span>
                   <span style="--i:12">n</span>
                   <span style="--i:13">c</span>
                   <span style="--i:14">e</span>
                   <span style="--i:15">d</span>
                   <span style="--i:16"> </span>
                   <span style="--i:17">s</span>
                   <span style="--i:18">o</span>
                   <span style="--i:19">o</span>
                   <span style="--i:20">n</span>
                </div>
            </center>
        <!--{% for i in about_list %} {% if i.cat.name == "day0" %}-->

        <!--        <div class="row">-->
        <!--            <div class="lgx-about-content-area" style="background: transparent; padding-top: 3rem; padding-left: 6rem; padding-right: 6rem;">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <p>-->
        <!--                            {{i.content|safe}}-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->
        <!--        </div>-->
        <!--        {% endif %}-->
        <!--        {% endfor %}-->

      </center>
      </div>
      <div id="day1" class="tab-pane fade">
        <center>
        <h3>Day 1: 10 August 2024(Saturday)</h3>


    <center style="margin-top: 200px;margin-bottom:200px;">
        <div class="waviy mx-auto text-center" >
           <span style="--i:1">t</span>
           <span style="--i:2">o</span>
           <span style="--i:3"> </span>
           <span style="--i:4">b</span>
           <span style="--i:5">e</span>
           <span style="--i:6"> </span>
           <span style="--i:7">a</span>
           <span style="--i:8">n</span>
           <span style="--i:9">n</span>
           <span style="--i:10">o</span>
           <span style="--i:11">u</span>
           <span style="--i:12">n</span>
           <span style="--i:13">c</span>
           <span style="--i:14">e</span>
           <span style="--i:15">d</span>
           <span style="--i:16"> </span>
           <span style="--i:17">s</span>
           <span style="--i:18">o</span>
           <span style="--i:19">o</span>
           <span style="--i:20">n</span>
        </div>
    </center>
        <!--{% for i in about_list %} {% if i.cat.name == "day1" %}-->


        <!--            <div class="" style="background: transparent; margin-left:-15%;">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->

        <!--                            {{i.content|safe}}-->

        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->

        <!--        {% endif %}-->
        <!--        {% endfor %}-->

      </center>
      </div>
      <div id="day2" class="tab-pane fade">
        <center>
        <h3>Day 2: 11 August 2024(Sunday)</h3>



    <center style="margin-top: 200px;margin-bottom:200px;">
        <div class="waviy mx-auto text-center" >
           <span style="--i:1">t</span>
           <span style="--i:2">o</span>
           <span style="--i:3"> </span>
           <span style="--i:4">b</span>
           <span style="--i:5">e</span>
           <span style="--i:6"> </span>
           <span style="--i:7">a</span>
           <span style="--i:8">n</span>
           <span style="--i:9">n</span>
           <span style="--i:10">o</span>
           <span style="--i:11">u</span>
           <span style="--i:12">n</span>
           <span style="--i:13">c</span>
           <span style="--i:14">e</span>
           <span style="--i:15">d</span>
           <span style="--i:16"> </span>
           <span style="--i:17">s</span>
           <span style="--i:18">o</span>
           <span style="--i:19">o</span>
           <span style="--i:20">n</span>
        </div>
    </center>

        <!--{% for i in about_list %} {% if i.cat.name == "day2" %}-->

        <!--        <div class="row">-->
        <!--            <div class="lgx-about-content-area" style="background: transparent; margin-left:-13%">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <p>-->
        <!--                            {{i.content|safe}}-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->
        <!--        </div>-->
        <!--        {% endif %}-->
        <!--        {% endfor %}-->
      </center>
      </div>
    </div>
    <br><br><br>
  <!--  <div class="row">-->
  <!--        <div class="col-xs-12">-->
  <!--              <div class="lgx-heading lgx-heading-white">-->
  <!--                <h1 class="heading">PROGRAMME OUTLINE</h1>-->
  <!--                <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="50%" height="3">-->
  <!--                  <div class="lgx-tab lgx-tab2">-->
  <!--                  <br>-->
  <!--                  <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">-->
  <!--                      <li class="active"><a data-toggle="pill" href="#home"><h3>Abstract submission starts</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu1"><h3>Abstract submission extended deadline</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>DD </span>Month, 20xx</p></a></li>-->
  <!--                  </ul>-->
  <!--                  </div>-->
  <!--              </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--<div class="row">-->
  <!--    <div class="col-xs-12">-->
  <!--        <div class="lgx-heading lgx-heading-white">-->
  <!--              <div class="lgx-tab lgx-tab2">-->
  <!--                  <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">-->
  <!--                      <li class="active"><a data-toggle="pill" href="#home"><h3>Abstract submission starts</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu1"><h3>Abstract submission extended deadline</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>DD </span>Month, 20xx</p></a></li>-->
  <!--                  </ul>-->
  <!--              </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--</div>-->
</section>
{% endblock program %}
