{% extends 'base.html' %}
{% load static %}
{% block banner %}

<style>
    .sponsors-area{
        height: max-content !important;
    }
</style>

<style>
    .speaker *{
        color:black;
        /*height: 10%;*/
    }
    .speaker:hover *{
        color:white;
        height: auto;
    }
    .team-section{
        padding: 0 5% 0 5%;
    }
    :root {
        --clr-gray-light: #d7dfe2;
        --clr-gray-med: #616b74;
        --clr-gray-dark: #414b56;
        --clr-link: #4d97b2;
        --clr-popular: #ef257a;
        --clr-technology: #651fff;
        --clr-psychology: #e85808;
        --clr-hack: #ad127c;
        --clr-pack: #48a221;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*padding: 5% 0 0 5%;*/
    }

    .card {
        overflow: hidden;
        box-shadow: 0px 2px 20px var(--clr-gray-light);
        background: white;
        border-radius: 0.5rem;
        position: relative;
        width: 350px;
        height: 350px;
        margin: 1rem;
        transition: 250ms all ease-in-out;
        cursor: pointer;
    }
    @media only screen and (max-width: 600px) {
        .card {
            height: 280px;
        }
    }

    .card:hover {
        transform: scale(1.05);
        /*height: auto;*/
        box-shadow: 0px 20px 40px var(--clr-gray-dark);
    }

    .banner-img {
        /*position: absolute;*/
        /*object-fit: cover;*/
        height: auto;
        width: 100%;
    }

    .category-tag {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        background: red;
        padding: 0.5rem 1.3rem 0.5rem 1rem;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        top: 1rem;
        border-radius: 0 2rem 2rem 0;
    }
    .category-tag-right {
        font-size: 1.2rem;
        font-weight: bold;
        color: white;
        background: red;
        padding: 0.5rem 1.3rem 0.5rem 1rem;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        top: 86%;
        border-radius: 0 2rem 2rem 0;
    }

    .popular {
        background: var(--clr-popular);
    }

    .technology {
        background: var(--clr-technology);
    }

    .psychology {
        background: var(--clr-psychology);
    }

    .hack {
        background: var(--clr-hack);
    }

    .pack {
        background: var(--clr-pack);
    }

    .card-body {
        z-index: 999;
        margin: 15rem 1rem 1rem 1rem;
    }

    .blog-hashtag {
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--clr-link);
    }

    .blog-title {
        line-height: 1.5rem;
        margin: 1rem 0 0.5rem;
    }

    .blog-description {
        color: var(--clr-gray-med);
        font-size: 0.9rem;
    }

    .card-profile {
        display: flex;
        margin-top: 2rem;
        align-items: center;
    }

    .profile-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
    }

    .card-profile-info {
        margin-left: 1rem;
    }

    .profile-name {
        font-size: 1rem;
    }

    .profile-followers {
        color: var(--clr-gray-med);
        font-size: 0.9rem;
    }
</style>


<section>
    <div class="lgx-banner lgx-banner-music">
        <div class="lgx-banner-style">
            <div class="lgx-inner lgx-inner-fixed">
                <div class="container">
                    <div class="row">
                        <center><b>
                            <h2><u>Schedule</u></h2>
                        </b></center>
                    </div>
                </div>
            </div>
            <!--//.ROW-->
        </div>
        <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER -->
    </div>
    </div>
</section>
{% endblock banner %}

{% block program %}



<section style="">






    <div id="outline">
        <div class="lgx-inner">
        <br>
            <div class="container">

                <center><h2>Conclave Starts</h2></center>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
                            <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">
                                <!--<li><a href="#day0"><h3>09 August 2024 - 10 August 2024</h3></a></li>-->

                                 <li><a data-toggle="pill" href="#day0"><h3>Day 0: 09 August 2024(Friday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day1"><h3>Day 1: 10 August 2024(Saturday)</h3></a></li>
                                <li><a data-toggle="pill" href="#day2"><h3>Day 2: 11 August 2024(Sunday)</h3></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <div class="tab-content">
      <div id="day0" class="tab-pane fade">
        <center>
        <h3>Day 0: 09 August 2024(Friday)</h3>


            <center style="margin-top: 200px;margin-bottom:200px;">
                <div class="waviy mx-auto text-center" >
                   <span style="--i:1">t</span>
                   <span style="--i:2">o</span>
                   <span style="--i:3"> </span>
                   <span style="--i:4">b</span>
                   <span style="--i:5">e</span>
                   <span style="--i:6"> </span>
                   <span style="--i:7">a</span>
                   <span style="--i:8">n</span>
                   <span style="--i:9">n</span>
                   <span style="--i:10">o</span>
                   <span style="--i:11">u</span>
                   <span style="--i:12">n</span>
                   <span style="--i:13">c</span>
                   <span style="--i:14">e</span>
                   <span style="--i:15">d</span>
                   <span style="--i:16"> </span>
                   <span style="--i:17">s</span>
                   <span style="--i:18">o</span>
                   <span style="--i:19">o</span>
                   <span style="--i:20">n</span>
                </div>
            </center>
        <!--{% for i in about_list %} {% if i.cat.name == "day0" %}-->

        <!--        <div class="row">-->
        <!--            <div class="lgx-about-content-area" style="background: transparent; padding-top: 3rem; padding-left: 6rem; padding-right: 6rem;">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <p>-->
        <!--                            {{i.content|safe}}-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->
        <!--        </div>-->
        <!--        {% endif %}-->
        <!--        {% endfor %}-->

      </center>
      </div>
      <div id="day1" class="tab-pane fade">
        <center>
        <h3>Day 1: 10 August 2024(Saturday)</h3>


    <center style="margin-top: 200px;margin-bottom:200px;">
        <div class="waviy mx-auto text-center" >
           <span style="--i:1">t</span>
           <span style="--i:2">o</span>
           <span style="--i:3"> </span>
           <span style="--i:4">b</span>
           <span style="--i:5">e</span>
           <span style="--i:6"> </span>
           <span style="--i:7">a</span>
           <span style="--i:8">n</span>
           <span style="--i:9">n</span>
           <span style="--i:10">o</span>
           <span style="--i:11">u</span>
           <span style="--i:12">n</span>
           <span style="--i:13">c</span>
           <span style="--i:14">e</span>
           <span style="--i:15">d</span>
           <span style="--i:16"> </span>
           <span style="--i:17">s</span>
           <span style="--i:18">o</span>
           <span style="--i:19">o</span>
           <span style="--i:20">n</span>
        </div>
    </center>
        <!--{% for i in about_list %} {% if i.cat.name == "day1" %}-->


        <!--            <div class="" style="background: transparent; margin-left:-15%;">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->

        <!--                            {{i.content|safe}}-->

        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->

        <!--        {% endif %}-->
        <!--        {% endfor %}-->

      </center>
      </div>
      <div id="day2" class="tab-pane fade">
        <center>
        <h3>Day 2: 11 August 2024(Sunday)</h3>



    <center style="margin-top: 200px;margin-bottom:200px;">
        <div class="waviy mx-auto text-center" >
           <span style="--i:1">t</span>
           <span style="--i:2">o</span>
           <span style="--i:3"> </span>
           <span style="--i:4">b</span>
           <span style="--i:5">e</span>
           <span style="--i:6"> </span>
           <span style="--i:7">a</span>
           <span style="--i:8">n</span>
           <span style="--i:9">n</span>
           <span style="--i:10">o</span>
           <span style="--i:11">u</span>
           <span style="--i:12">n</span>
           <span style="--i:13">c</span>
           <span style="--i:14">e</span>
           <span style="--i:15">d</span>
           <span style="--i:16"> </span>
           <span style="--i:17">s</span>
           <span style="--i:18">o</span>
           <span style="--i:19">o</span>
           <span style="--i:20">n</span>
        </div>
    </center>

        <!--{% for i in about_list %} {% if i.cat.name == "day2" %}-->

        <!--        <div class="row">-->
        <!--            <div class="lgx-about-content-area" style="background: transparent; margin-left:-13%">-->
        <!--                <div class="lgx-heading">-->
        <!--                    <center>-->

        <!--                        <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="80%" height="3">-->
        <!--                    </center>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                    <p>-->
        <!--                            {{i.content|safe}}-->
        <!--                    </p>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--            <br><br>-->
        <!--        </div>-->
        <!--        {% endif %}-->
        <!--        {% endfor %}-->
      </center>
      </div>
    </div>
    <br><br><br>
  <!--  <div class="row">-->
  <!--        <div class="col-xs-12">-->
  <!--              <div class="lgx-heading lgx-heading-white">-->
  <!--                <h1 class="heading">PROGRAMME OUTLINE</h1>-->
  <!--                <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="50%" height="3">-->
  <!--                  <div class="lgx-tab lgx-tab2">-->
  <!--                  <br>-->
  <!--                  <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">-->
  <!--                      <li class="active"><a data-toggle="pill" href="#home"><h3>Abstract submission starts</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu1"><h3>Abstract submission extended deadline</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>DD </span>Month, 20xx</p></a></li>-->
  <!--                  </ul>-->
  <!--                  </div>-->
  <!--              </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--<div class="row">-->
  <!--    <div class="col-xs-12">-->
  <!--        <div class="lgx-heading lgx-heading-white">-->
  <!--              <div class="lgx-tab lgx-tab2">-->
  <!--                  <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">-->
  <!--                      <li class="active"><a data-toggle="pill" href="#home"><h3>Abstract submission starts</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu1"><h3>Abstract submission extended deadline</h3> <p><span>DD </span>Month, 20xx</p></a></li>-->
  <!--                      <li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>DD </span>Month, 20xx</p></a></li>-->
  <!--                  </ul>-->
  <!--              </div>-->
  <!--        </div>-->
  <!--    </div>-->
  <!--</div>-->
</section>
{% endblock program %}
