<!doctype html>
<html class="no-js" lang="en">
{% load static %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>Research and Industrial Conclave 2024</title>

    <meta name="description" content="Research and Industrial Conclave-Integration'24 is the flagship event of IIT Guwahati jointly organized by Students' Academic Board and IIT Guwahati Research Park" />
    <meta name="keywords" content="RIC Research Industrial Conclave IITG RC" />
    <meta name="author" content="https://www.linkedin.com/in/chetan-chinchulkar/" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@RIC_IITG" />
    <meta name="twitter:creator" content="@RIC_IITG" />
    <meta name="twitter:url" content="https://www.ric.iitg.ac.in/" />
    <meta name="twitter:title" content="Research and Industrial Conclave-Integration'24,IIT Guwahati" />
    <!-- maximum 140 char -->
    <meta name="twitter:description" content="Research and Industrial Conclave-Integration'24 is the flagship event of IIT Guwahati jointly organized by Students' Academic Board and IIT Guwahati Research Park" />
    <!-- maximum 140 char -->

    <meta name="twitter:image" content="https://www.ric.iitg.ac.in/static/files/RC.png" >
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->
    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="Research and Industrial Conclave-Integration'24,IIT Guwahati" />
    <meta property="og:description" content="Research and Industrial Conclave-Integration'24 is the flagship event of IIT Guwahati jointly organized by Students' Academic Board and IIT Guwahati Research Park" />
    <!-- maximum 140 char -->
    <meta property="og:url" content="https://www.ric.iitg.ac.in/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Research and Industrial Conclave-Integration'24,IIT Guwahati" />
    <!--meta property="fb:admins" content="" /-->
    <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.ric.iitg.ac.in/static/files/RC.png"/>
    <meta property="og:image:alt" content="Research and Industrial Conclave 2024">
    <!--<meta property="og:image:width" content="1200">-->
    <!--<meta property="og:image:height" content="600">-->
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <!--  FAVICON AND TOUCH ICONS -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'home/assets/img/RC.png' %}" />
    <!-- this icon shows in browser toolbar -->
    <link rel="icon" type="image/x-icon" href="{% static 'home/assets/img/RC.png' %}" />
    <!-- this icon shows in browser toolbar -->
    <!--link rel="apple-touch-icon" sizes="57x57" href="assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/manifest.json"-->

    
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="{% static 'home/assets/libs/bootstrap/css/bootstrap.min.css' %}" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'home/assets/libs/fontawesome/css/font-awesome.min.css' %}" media="all" />

    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="{% static 'home/assets/libs/maginificpopup/magnific-popup.css' %}" media="all" />

    <!-- Time Circle -->
    <link rel="stylesheet" href="{% static 'home/assets/libs/timer/TimeCircles.css' %}" media="all" />

    <!-- OWL CAROUSEL CSS -->
    <link rel="stylesheet" href="{% static 'home/assets/libs/owlcarousel/owl.carousel.min.css' %}" media="all" />
    <link rel="stylesheet" href="{% static 'home/assets/libs/owlcarousel/owl.theme.default.min.css' %}" media="all" />

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Oswald:400,700%7cRaleway:300,400,400i,500,600,700,900" />

    <!-- MASTER  STYLESHEET  -->
    <link id="lgx-master-style" rel="stylesheet" href="{% static 'home/assets/css/style-default.min.css' %}"
        media="all" />

    <!-- MODERNIZER CSS  -->
    <script src="{% static 'home/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>

            <script src="{% static 'home/assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- implemented by dhruvesh -->
    <style>
        .lgx-inner-footer{
            padding-top: 3rem;
        }
        .d-footer-links{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        .d-footer-link{
            padding: 1rem 2rem;
            color: white;
            background-color: blue;
            margin: 2rem 0;
        }

        .d-icons {
            padding: 6rem 10rem 3rem 10rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        footer #lgx-footer .lgx-inner-footer a{
            text-decoration: none;
        }
        footer a:hover{
            color: #e67e22;
        }
        .d-icon:hover p{
            color: orange;
        }
        .d-icons p {
            color: white;
        }

        .d-icon {
            width: 15%;
        }

        .d-icon img {
            width: 100%;
            border-radius: 50%;
            aspect-ratio: 1;
        }

        .d-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .d-wrapper-child {
            color: white;
            width: 50%;
        }
        .d-wrapper-child a:hover{
            color: #e67e22;
        }
        .d-social .list-inline,p{
            padding: 1rem 0;
        }
        .d-wrapper-child a{
            color: blanchedalmond;
        }

        .lgx-footer-bottom{
            padding: 0;
        }

        @media screen and (max-width:600px) {
            .d-wrapper-child{
                width: 100%;
            }
        }
        @media screen and (max-width:800px) {
            .d-icons{
                padding: 6rem 0rem 3rem 0rem;
            }
            .d-icon img{
                width: 60%;
            }
            .d-icon{
                width: 25%;
            }
        }

        #blink {
            font-size: 20px;
            font-weight: bold;
            color: #DC2F21;
            transition: 0.01s;
        }

        #announcement-section {
           position: fixed;
           top: 50%;
           width: 290px;
           left: -200px; /* hide the announcement section to the left side of the screen */
           transform: translateY(-50%);
           background-color: #f7f7f7;
           padding: 10px;
           border: 1px solid #ddd;
           border-radius: 5px;
           box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
           z-index: 9999;
           transition: left 0.5s ease-in-out; /* add a transition effect when the announcement section slides in and out */
        }

        #announcement-section:hover {
           left: 0; /* slide the announcement section to the right side of the screen when the user hovers over it */
        }

        /* Gallery */

        #gallery{
            width: 80vw;
        -webkit-column-count:4;
        -moz-column-count:4;
        column-count:4;

        -webkit-column-gap:36px;
        -moz-column-gap:36px;
        column-gap:36px;
        padding: 30px 10px;
        }
        @media (max-width:1200px){
        #gallery{
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;

        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
        }
        }
        @media (max-width:800px){
        #gallery{
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;

        -webkit-column-gap:20px;
        -moz-column-gap:20px;
        column-gap:20px;
        }
        }
        @media (max-width:600px){
        #gallery{
        -webkit-column-count:1;
        -moz-column-count:1;
        column-count:1;
        }
        }
        #gallery img,#gallery video {
        width:100%;
        height:auto;
        margin: 10% auto;
        box-shadow:-3px 5px 15px #000;
        cursor: pointer;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        }

        .box-image {
            position: relative;
            transition: transform .2s;
            border-radius: 5px;
        }

        .box-image:hover{
            transform: scale(1.08);
            z-index: 10;
            box-shadow: 5px 5px #E7E9EB;
        }



        @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

        .waviy {
          position: relative;
          -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
          font-size: 60px;
        }
        .waviy span {
          font-family: 'Alfa Slab One', cursive;
          position: relative;
          display: inline-block;
          color: blue;
          text-transform: uppercase;
          animation: waviy 2.5s infinite;
          animation-delay: calc(.2s * var(--i));

        }
        @keyframes waviy {
          0%,40%,100% {
            transform: translateY(0)
          }
          20% {
            transform: translateY(-20px)
          }
        }


    </style>
</head>

{% block css %}{% endblock css %}

<body class="home">

<!--    [if lt IE 8]>-->
<!--<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade-->
<!--    your browser</a> to improve your experience.</p>-->
<!--<![endif]-->

    <div class="lgx-container ">
        <!-- ***  ADD YOUR SITE CONTENT HERE *** -->


        <!--HEADER-->
        <header>
            <div id="lgx-header" class="lgx-header">
                <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed ">
                    <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
                    <div class="lgx-container-fluid">
                        <!--lgx-container-fluid-->
                        <nav class="navbar navbar-default lgx-navbar">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="lgx-logo">
                                    <a href="{% url 'home:home' %}" class="lgx-scroll"
                                        style="display: inline-block; padding-right: 10px">
                                        <img src="{% static 'home/assets/img/RC.png' %}" alt="Eventhunt Logo"/>
                                    </a>
                                </div>
                            </div>
                            <div id="navbar" class="navbar-collapse collapse">

                                <ul class="nav navbar-nav lgx-nav navbar-right">

                                    <li>
                                        <a href="{% url 'home:home' %}">
                                            <font color="white" size="5.2rem"><b><span
                                                        style="color:#e74c3c">R</span><span
                                                        style="color:#e67e22">IC</span> 2024</b></b></font>
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="lgx-scroll" href="{% url 'home:about' %}">
                                            <font color="white"><b>About</font></b>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="lgx-scroll" href="{% url 'home:home' %}#events">
                                            <font color="white"><b>Events</font></b>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="lgx-scroll" href="{% url 'event:speakerlist' %}#events">
                                            <font color="white"><b>Speakers</font></b>
                                        </a>
                                    </li>

                                    <li><a class="lgx-scroll hidden " href="{% url 'home:home' %}#lgx-sponsors">
                                            <font color="white"><b>Partners
                                                </b></font>
                                        </a>
                                    </li>
                                    <!--li><a class="lgx-scroll" href="schedule.html"target="blank">Important Dates</a></li-->
                                    <!-- <li><a class="lgx-scroll" href="index.html#schedule"><font color="white"><b>Important Dates
                            </b></font></a></li> -->
                                    <!-- <li><a class="lgx-scroll" href="index.html#registration"><font color="white"><b>Registration
                            </b></font></a></li> -->
                                    <li>
                                        <a class="lgx-scroll hidden" href="{% url 'sponsor:all' %}">
                                            <font color="white"><b>Sponsors
                                                </b></font>
                                        </a>
                                    </li>
                                    <!--li><a class="lgx-scroll" href="team.html"target="_blank">Team</a></li-->
                                    <!-- <li><a class="lgx-scroll" href="accommodation.html"><font color="white"><b>Accommodation
                            </font></b></a></li> -->
                                    <!-- <li><a class="lgx-scroll" href="team19.html"><font color="white"><b>Team</font></b></a></li> -->
                                    <!-- <li><a class="lgx-scroll" href="https://event.iitg.ac.in/rc2020/login/"><font color="white"><b>LOGIN</font></b></a></li> -->

                                    <li>
                                        <a class="lgx-scroll" href="{% url 'schedule:all' %}">
                                            <font color="white"><b>Schedule</font></b>
                                        </a>
                                    </li>

                                    <li>
                                        <a class="lgx-scroll" href="{% url 'team:all' %}">
                                            <font color="white"><b>Team</font></b>
                                        </a>
                                    </li>

                                    <!--<li class="nav-item">-->
                                    <!--            <a class="nav-link" href="{% url 'home:home' %}#announcements">-->
                                    <!--                <font color="white"><b id="blink">Announcements</font></b>-->
                                    <!--            </a>-->
                                    <!--</li>-->

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <font color="white"><b>Contact &darr;</b></font>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'home:home' %}#contact">
                                                    <font color="white"><b>Contact Us</font></b>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="lgx-scroll" href="{% url 'faq:all' %}">
                                                    <font color="white"><b>FAQs</font></b>
                                                </a>
                                            </li>

                                        </ul>
                                    </li>

                                        {% if user.is_superuser %}
                                            <li>
                                                <a class="lgx-scroll" href="{% url 'home:event_analytics' %}">
                                                    <font color="red"><b>Analytics</font></b>
                                                </a>
                                            </li>
                                            <!--<li>-->
                                            <!--    <a class="lgx-scroll" href="{% url 'members:send_institute_invitation' %}">-->
                                            <!--        <font color="white"><b>Send Mail Institute</font></b>-->
                                            <!--    </a>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                            <!--    <a class="lgx-scroll" href="{% url 'members:send_speaker_invitation' %}">-->
                                            <!--        <font color="white"><b>Send Mail Speakers</font></b>-->
                                            <!--    </a>-->
                                            <!--</li>-->
                                            {% endif %}
                                    {% if user.is_authenticated %}




                                    <!--<li class="nav-item dropdown">-->
                                        <!--<a class="nav-link dropdown-toggle" href="#" role="button"-->
                                        <!--    data-bs-toggle="dropdown" aria-expanded="false">-->
                                        <!--    <font color="white"><b>Registration Forms &darr;</b></font>-->
                                        <!--</a>-->
                                        <!--<ul class="dropdown-menu">-->
                                            <!--<li>-->
                                            <!--    <a class="lgx-scroll" href="{% url 'members:create' %}">-->
                                            <!--        <font color="white"><b>Research Events Registration Form</font></b>-->
                                            <!--    </a>-->
                                            <!--</li>-->
                                        <!--    <li>-->
                                        <!--         <a class="lgx-scroll" href="{% url 'members:iccreate' %}">-->
                                        <!--             <font color="white"><b>Industrial Events Registration Form</font></b>-->
                                        <!--         </a>-->
                                        <!--     </li>-->
                                        <!--    <li>-->
                                                <!--<a class="lgx-scroll" href="{% url 'members:accommodation_create' %}">-->
                                        <!--            <a class="lgx-scroll" href="https://forms.office.com/Pages/ResponsePage.aspx?id=jacKheGUxkuc84wRtTBwHBY_cXNxiOtJqqeYfGetp1xUMFpYUVFJOUROUUlBVU00RkxTVkNVRllSUC4u">-->
                                        <!--            <font color="white"><b>Accommodation Form</font></b>-->
                                        <!--        </a>-->
                                        <!--    </li>-->
                                        <!--</ul>-->
                                    <!--</li>-->

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false" href="#">
                                            <font color="white"><b>Pre RIC Events &darr;</b></font>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                 <a class="lgx-scroll" href="{% static 'home/assets/pdf/preRIC.pdf' %}">
                                                     <font color="white"><b>Instruction Manual</font></b>
                                                 </a>
                                             </li>
                                            <li class="hidetime">
                                                <a class="lgx-scroll" href="{% url 'members:integrationBee_create' %}">
                                                    <font color="white"><b>Integration BEE</font></b>
                                                </a>
                                            </li>


                                        </ul>
                                    </li>
                                    

                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <font color="white"><b>Dashboard &darr;</b></font>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a class="lgx-scroll" href="{% url 'members:all' %}">
                                                    <font color="white"><b>Profile</font></b>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="lgx-scroll" href="{% url 'account_logout' %}">
                                                    <font color="white"><b>Logout</font></b>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    


                                    {% else %}
                                    <li>
                                        <a class="lgx-scroll" href="{% url 'home:redirection' %}">
                                            <font color="white"><b>Register/Login</font></b>
                                        </a>
                                    </li>
                                    
                                    <!--<li>-->
                                    <!--    <a class="lgx-scroll" href="{% url 'microsoft_login' %}">-->
                                    <!--        <font color="white"><b>Login with Microsoft</font></b>-->

                                    <!--    </a>-->
                                    <!--</li>-->
                                    {% endif %}

                                    <li>
                                        <a class="lgx-scroll" href="{% url 'home:gallery' %}">
                                            <font color="white"><b>Gallery</font></b>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </nav>
                    </div>
                    <!-- //.CONTAINER -->
                </div>
            </div>
        </header>
        <!--HEADER END-->


<!--<div id="announcement-section"></div>-->




        <!--BANNER-->
        {% block banner %}{% endblock banner %}
        <!--BANNER END-->
        {% block content %} {% endblock content %}
<!--        Announcemnets Start-->


<!--        Announcements End-->
        <!--about-->

        {% block about %}{% endblock about %}

        <!--about end-->

        <!-- Programe Outline-->

        {% block program %} {% endblock program %}


        

        <!-- Programme outline end-->

        <!--Events-->

        {% block event %} {% endblock event %}

        <!--Events end-->

        <!--SCHEDULE-->

        {% block schedule %}
        <!-- <section>
    <div id="schedule" class="lgx-schedule">
        <div class="lgx-inner">
        <br>
            <div class="container"> -->

        <!-- old comment -->

        <!--div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Schedule</h2>
                            <img src="assets/img/border.png" class="left" width="40%" height="80"></h2>
                            <h2 class="subheading">To Be Announced!</h2>
                        </div>
                    </div>
                </div-->

        <!-- old comment end -->

        <!-- <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Important Dates</h2>
                            <img src="assets/img/rr.png" class="left" width="50%" height="3">
                  -->
        <!-- old comment         h3 class="subheading">Welcome to the dedicated to building remarkable Schedule!</h3 -->

        <!-- old comment end -->
        <!--
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"> -->
        <!-- <div class="lgx-tab lgx-tab2">       OLD COMMENT lgx-tab2 lgx-tab-vertical -->
        <!-- <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">  OLD COMMENT  lgx-nav-nogap lgx-nav-colorful -->
        <!-- <li class="active"><a data-toggle="pill" href="#home"><h3>Registration starts</h3> <p><span><b>06 </b></span><b>Jan, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3><strike>Last Date of Registration</strike><br>Abstract Submission Deadline</h3> <p><span><b>10 </b></span><b>Feb, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3>Acceptance Notification</h3> <p><span><b><strike>7 </strike></b></span><b><strike>Feb, 2020</strike></b></p><p><span><b>20 </b></span><b><b>Feb, 2020</b></p></a></li>
                                <li><a data-toggle="pill" href="#menu1"><h3>Last Date for Payment</h3> <p><span><b>1 </b></span><b>Mar, 2020</b></p><p style="visibility: hidden;">Hidden value</p></a></li> -->

        <!-- old comment -->

        <!--li><a data-toggle="pill" href="#menu2"><h3>Notification of Acceptance</h3></span>15 </span>Feb, 2019</p></a></li>
                            </div>
                            <br>
                    <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-tab lgx-tab2"> <!--lgx-tab2 lgx-tab-vertical-->
        <!--ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">  <!--lgx-nav-nogap lgx-nav-colorful-->
        <!--li class="active"><a data-toggle="pill" href="#home"><h3>Registration starts</h3> <p><span>31 </span>Jan, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu3"><h3>Last date of Registration and submission for Startup Challenge</h3> <p><span>20 </span>Feb, 2019</p></a></li>
                                <li><a data-toggle="pill" href="#menu2 </span>Feb, 2019</p></a></li>"><h3>Notification of Acceptance for Startup Challenge</h3> <p><span>24 </span>Feb, 2019</p></a></li>
                            </div>
                             </br>
        </div-->
        <!-- //.INNER -->

        <!-- old comment end -->

        <!-- </div>
</section> -->
        {% endblock schedule %}
        <!--SCHEDULE END-->

        <!--Registration-->

        <!-- <section>
            <div id="registration" class="lgx-registration-simple">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading lgx-heading-white">
                                <h2 class="heading">REGISTRATION</h2>
                                <img src="assets/img/rr.png" class="left" width="50%" height="3"> -->

        <!--  OLD COMMENT h3 class="subheading">Click on the applicable</h3-->

        <!-- </div>
                            <h3><div style= "color:#23f4d7fa;" class="blink_me">
                            	Registration for workshop is open<br>

                            </div></h3>
                            <div class="sponsors-area">
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Students</a></h3>
                                            <h4 class="subtitle">Rs. 200.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Faculty/Academicians</a></h3>
                                            <h4 class="subtitle">Rs. 2000.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="http://event.iitg.ac.in/rc2020">Industrialists</a></h3>
                                            <h4 class="subtitle">Rs. 3000.00</h4>
                                        </div>
                                </div>
                                <div class="single">
                                    <div class="speaker-info">
                                            <h3 class="heading"><a href="startup.html">Startup Challenge</a></h3>
                                            <h4 class="subtitle">Rs. 500.00</h4>
                                        </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <b style="color:#603; background-color:#FF0">A GST of 18% and payment gateway charge will be added to each transaction fee. Registration fee is non-refundable.</b>
                        <h3><center>For Template for Abstract Submission&ensp;<a href="assets/img/abstract_template.docx"><u>CLICK HERE</u></a></center></h3>
                        </div>
                        </div>
                        </div>
                        </section> -->

        <!--Registration end-->

        {% block sponsor %} {% endblock sponsor %}

        <!--Contact-->

        {% block contact %} {% endblock contact %}

        <!--Contact END-->



        <!--FOOTER-->   <!-- implemented by dhruvesh -->
        <footer>
            <div id="lgx-footer" class="lgx-footer lgx-footer-music lgx-footer-black">
                <!--lgx-footer-white-->
                <div class="lgx-inner-footer">
                    <h3 style="font-size: 250%; color: white;">Quick Links</h3>
                    <img src="{% static 'home/assets/img/rr.png' %}" class="left" width="30%" height="3">
                    <div class="container d-footer_links">
                        <a class="d-footer-link lgx-btn" href="http://www.iitg.ac.in">
                            IIT Guwahati
                        </a>
                        <a class="d-footer-link lgx-btn" href="https://www.iitg.ac.in/sab">
                            SAB, IITG
                        </a>
                        <a class="d-footer-link lgx-btn" href="https://sites.google.com/view/newgeniedciitg/introductio">
                            NEWGEN IEDC
                        </a>
                        <a class="d-footer-link lgx-btn" href="https://tic.iitg.ac.in/">
                            IIT TIC
                        </a>
                        <a class="d-footer-link lgx-btn" href="http://www.respark.iitg.ac.in/">
                            IITG Research Park
                        </a>
                        <!--<a class="d-footer-link lgx-btn" href="http://event.iitg.ac.in/researchconclave/rc16/">-->
                        <!--    RC'16-->
                        <!--</a>-->
                        <!--<a class="d-footer-link lgx-btn" href="http://event.iitg.ac.in/researchconclave/rc17/">-->
                        <!--    RC'17-->
                        <!--</a>-->
                        <!--<a class="d-footer-link lgx-btn" href="http://event.iitg.ac.in/researchconclave/rc18/">-->
                        <!--    RC'18-->
                        <!--</a>-->
                        <a class="d-footer-link lgx-btn" href="http://event.iitg.ac.in/researchconclave/rc19/">
                            RC'19
                        </a>
                        <a class="d-footer-link lgx-btn" href="http://event.iitg.ac.in/researchconclave/rc20/">
                            RC'20
                        </a>
                        <a class="d-footer-link lgx-btn" href="https://researchconclave.pythonanywhere.com/">
                            RIC'22
                        </a>
                        <a class="d-footer-link lgx-btn" href="https://ric2023.pythonanywhere.com/">
                            RIC'23
                        </a>

                    </div>

                    <div class="container">
                        <div class="d-wrapper">
                            <div class="d-wrapper-child d-venue">
                                <h2 style="color: white">Venue </h2>
                                <img src="{% static 'home/assets/img/rr.png' %}" width="30%" height="3">
                                <h3 style="color: #e67e22;">
                                    Class Room Complex
                                </h3>
                                <address style="font-size: large;">
                                    IIT Guwahati <br>
                                    Assam-781039, India
                                </address>
                                <!--<a style="font-size: large;" id="myModalLabel2" data-toggle="modal" class="map-link"-->
                                <!--    data-target="#lgx-modal-map"-->
                                <!--    href="https://goo.gl/maps/K2AzAKjXBFo23eoE7"><i class="fa fa-map-marker"-->
                                <!--        aria-hidden="true" style="color:#e67e22"></i> View Map location</a>-->
                            </div>

                            <div class="d-wrapper-child d-social">
                                <h2 style="color: white">Social Connection</h2>
                                <img src="{% static 'home/assets/img/rr.png' %}" width="30%" height="3">
                                <p class="text" style="color: blanchedalmond;">
                                    Connect our social network for any update
                                </p>
                                <ul class="list-inline">
                                    <li style="padding-right: 12px;"><a href="http://facebook.com/ric.iitg" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                                    <li style="padding-right: 12px;"><a href="https://twitter.com/RIC_IITG" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                                    <li style="padding-right: 12px;"><a href="https://www.instagram.com/ric_iitg" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                                    <li style="padding-right: 12px;"><a href="https://www.linkedin.com/company/rc-iitg/about/g" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                                    <li style="padding-right: 12px;"><a href="mailto:research_conclave@iitg.ac.in"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="d-icons">
                            <a class="d-icon" href="https://www.iitg.ac.in/" target="_blank">
                                <img src="{% static 'home/assets/img/iitg.png' %}" alt="">
                                <p>IIT Guwahati</p>
                            </a>
                            <a class="d-icon" href="https://www.iitg.ac.in/sab" target="_blank">
                                <img src="{% static 'home/assets/img/sabpng.png' %}" alt="">
                                <p>Students' Academic Board</p>
                            </a>
                            <a class="d-icon" href="http://www.respark.iitg.ac.in/" target="_blank">
                                <img src="{% static 'home/assets/img/RP.png' %}" alt="">
                                <p>IITG Research Park</p>
                            </a>
                            <a class="d-icon" href="https://amritmahotsav.nic.in/" target="_blank">
                                <img src="{% static 'home/assets/img/2.png' %}" alt="">
                                <p></p>
                            </a>
                        </div>

                        <!-- Modal-->
                        <div id="lgx-modal-map" class="modal fade lgx-modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3580.3258957158264!2d91.68705817557495!3d26.186074890939295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5b1b674c1bcd%3A0x8d7332628127a835!2sNew%20Classroom%20Complex%2CIIT%20Guwahati!5e0!3m2!1sen!2sin!4v1683865338106!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                        <!--<div class="lgxmapcanvas map-canvas-default" id="map_canvas"> </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //.Modal-->

                        <div class="lgx-footer-bottom">
                            <div class="lgx-copyright">
                                <p> <span>©</span> 2024 Students' Academic Board, IIT Guwahati</p>
                                <p> <span>Maintained By: </span>
                                        <a href="https://www.linkedin.com/in/chetan-chinchulkar/">Chetan Chinchulkar</a>,
                                         <a href="https://www.linkedin.com/in/dhruvesh222/">Dhruvesh Bhure</a></p>
                            </div>
                        </div>

                    </div>
                    <!-- //.CONTAINER -->
                </div>
                <!-- //.footer Middle -->
            </div>
        </footer>
        <!--FOOTER END-->


    </div>
    <!--//.LGX SITE CONTAINER-->
    <!-- *** ADD YOUR SITE SCRIPT HERE *** -->
    <!-- JQUERY  -->
    <script src="{% static 'home/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>

    <!-- BOOTSTRAP JS  -->
    <script src="{% static 'home/assets/libs/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Smooth Scroll  -->
    <script src="{% static 'home/assets/libs/jquery.smooth-scroll.js' %}"></script>

    <!-- SKILLS SCRIPT  -->
    <script src="{% static 'home/assets/libs/jquery.validate.js' %}"></script>

    <!-- if load google maps then load this api, change api key as it may expire for limit cross as this is provided with any theme -->
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQvRGGtL6OrpP5xVMxq_0NgiMiRhm3ycI"></script>

    <!-- CUSTOM GOOGLE MAP -->
    <script type="text/javascript" src="{% static 'home/assets/libs/gmap/jquery.googlemap.js' %}"></script>

    <!-- adding magnific popup js library -->
    <script type="text/javascript"
        src="{% static 'home/assets/libs/maginificpopup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Owl Carousel  -->
    <script src="{% static 'home/assets/libs/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- COUNTDOWN   -->
    <script src="{% static 'home/assets/libs/countdown.js' %}"></script>
    <script src="{% static 'home/assets/libs/timer/TimeCircles.js' %}"></script>

    <!-- Counter JS -->
    <script src="{% static 'home/assets/libs/waypoints.min.js' %}"></script>
    <script src="{% static 'home/assets/libs/counterup/jquery.counterup.min.js' %}"></script>

    <!-- SMOTH SCROLL -->
    <script src="{% static 'home/assets/libs/jquery.smooth-scroll.min.js' %}"></script>
    <script src="{% static 'home/assets/libs/jquery.easing.min.js' %}"></script>

    <!-- type js -->
    <script src="{% static 'home/assets/libs/typed/typed.min.js' %}"></script>

    <!-- header parallax js -->
    <script src="{% static 'home/assets/libs/header-parallax.js' %}"></script>

    <!-- instafeed js -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>-->
    <script src="{% static 'home/assets/libs/instafeed.min.js' %}"></script>

    <!-- CUSTOM SCRIPT  -->
    <script src="{% static 'home/assets/js/custom.script.js' %}"></script>

    <!-- added by dhruvesh -->
    <script type="text/javascript">
        var blink = document.getElementById('blink');
        setInterval(function() {
            blink.style.opacity = (blink.style.opacity == 0 ? 1 : 0);
        }, 250);
    </script>

    <script type="text/javascript" src="{% static 'home/assets/js/cart.js' %}"></script>

    <script>
        var announcementDiv = document.getElementById("announcement-section");
        announcementDiv.innerHTML = "Venue: Classroom Complex, Core 5, IIT Guwahati";

        setTimeout(function() {
           announcementDiv.style.left = "0"; /* slide the announcement section to the right side of the screen */
        }, 1000); /* adjust the delay time as desired */

        setTimeout(function() {
           announcementDiv.style.left = "-200px"; /* hide the announcement section to the left side of the screen again */
        }, 5000); /* adjust the delay time as desired */

    </script>

    <script>
      // set the date and time when the div should stop displaying
      $(document).ready(function() {
          // Get current date and time
          var now = new Date();
          // Set end date and time
          var endDate = new Date("2024-08-09T18:00:00Z");
          // Compare current date and time with end date and time
          if (now >= endDate) {

            $(".hidetime").hide();
          }
        });


    </script>



    {% block js %} {% endblock js %}





</body>

</html>